.orders-page{

padding:80px 5%;

background:
linear-gradient(
135deg,
#f7fff8,
#ffffff
);

min-height:100vh;

}


.orders-page h1{

font-size:42px;

color:#14532d;

}



.subtitle{

color:#666;

margin-bottom:40px;

}





.stats-container{

display:grid;

grid-template-columns:
repeat(auto-fit,minmax(200px,1fr));

gap:20px;

}





.stat-card,
.order-card,
.order-box{

background:white;

border-radius:20px;

padding:25px;

box-shadow:
0 10px 30px rgba(0,0,0,.08);

}



.stat-card strong{

font-size:35px;

color:#15803d;

}




.recent-order{

margin-top:40px;

}




.order-card{

display:flex;

justify-content:space-between;

align-items:center;

margin-bottom:20px;

}



.status{

padding:8px 15px;

border-radius:20px;

background:#dcfce7;

color:#166534;

}




.orders-loading{

height:100vh;

display:flex;

align-items:center;

justify-content:center;

font-size:25px;

}